{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DESCONECTADO</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="saida">
        <h2>DESCONECTADO</h2>
        <p>Você foi desconectado com sucesso.</p>
        <p>Obrigado pela visita.</p>
        <a href="{% url 'login' %}">voltar</a>

    </div>
</body>
</html>
